@using StokTakip.Models.Entity
@model List<Kategoriler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<a style="margin-bottom:20px;" href="/Kategori/YeniKategori/" class="btn btn-primary">Yeni Kategori Ekle</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Kategori Adı</th>
            <th scope="col">Sil</th>
            <th scope="col">Düzenle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <th scope="row">@category.kategoriID</th>
                <td>@category.kategoriAd</td>
                <td><a href="/Kategori/Sil/@category.kategoriID" class="btn btn-danger">Sil</a></td>
                <td><a href="/Kategori/Guncelle/@category.kategoriID" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
      
       
      
    </tbody>
</table>

