
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<style>
    .form-content {
        padding: 5%;
        border: 1px solid #ced4da;
        margin-bottom: 2%;
    }

    .form-control {
        border-radius: 1.5rem;
    }

    .btnSubmit {
        border: none;
        border-radius: 1.5rem;
        padding: 1%;
        width: 20%;
        cursor: pointer;
        background: #0062cc;
        color: #fff;
    }
</style>

<h2>Yeni Kategori</h2>
<form method="post">
    <div class="register-form">
        <div class="form">

            <div class="form-content">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>Kategori Adı :</label>
                            <input type="text" class="form-control"  name="kategoriAd" />
                        </div>
                      
                    </div>
                  
                </div>
                <button class="btnSubmit">Kategori Ekle</button>
                <a href="/Kategori/Index/" class="btnSubmit" style="background-color:red;">Geri Dön</a>
            </div>
        </div>
    </div>
</form>
