
@using StokTakip.Models.Entity
@model List<Musteriler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<a style="margin-bottom:20px;" href="/Musteri/YeniMusteri/" class="btn btn-primary">Yeni Müşteri Ekle</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Adı</th>
            <th scope="col"> Soyadı</th>
            <th scope="col"> Sil</th>
             <th scope="col"> Düzenle</th>
     
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <th scope="row">@customer.musteriID</th>
                <td>@customer.musteriAd</td>
                <td>@customer.musteriSoyad</td>
                <td><a href="/Musteri/Sil/@customer.musteriID" class="btn btn-danger">Sil</a></td>
                <td><a href="/Musteri/MusteriGetir/@customer.musteriID" class="btn btn-success">Güncelle</a></td>
            </tr>
        }



    </tbody>
</table>

